// Custom 

.logo a {
    margin:0;
    padding:0;
}

.logo a img{
    width:auto;
    margin: 10px 0 0 10px;
    height:50px;
    float:left;
}
// search bar styling
.search_bar{
    display:block;
    float:right;
    margin-right:20px;
}

.search_bar input{
    height:30px;
    width: 150px;
    border: 1px solid #e38f84;
    padding:4px;
    font-size: 15px;
}
#searchButton:hover{
    color:white;
    margin-top:20px;
    border:1px solid #e38f84;
    background-color: #ccc;
}

#searchButton{
    line-height:30px;
    width:30px;
    height:30px;
    margin-top:20px;
    border:1px solid #e38f84;
    background-color: #e38f84;
}