// VARIABLES
// Descriptive variables colors

$main-color:#e38f84;
$text-color:#666666;
$black:#000;

// Functional Variables
$container-color:black;
$icon-color:#888888;
$heading-color:white;

$padding:10px;
// FONT-SIZE

// TEXT-DECORATION

// FONT-FAMILY
$icon-font:'Open Sans', sans-serif;